name: CI

on:
  pull_request:
    branches:
      - "dev"
      - "main"

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: "1.1.12"

      - name: Install mypy missing stub packages
        run: python -m poetry run mypy --install-types --non-interactive

      - name: Run mypy
        run: python -m poetry run mypy .

      - name: Run isort
        run: python -m poetry run isort . --check-only 

      - name: Run flake8
        run: python -m poetry run flake8 .

      - name: Run unit tests
        run: python -m poetry run pytest .
